.heading{
    width: 100%;
}
.heading h3{
    display: inline;
    text-align: left;
}
.heading button{
    float: right;
    background-color: aqua;
    border: 1px black solid;
}
#start{
    color: white;
    background-color: black;
}
canvas{
    border: 5px red dashed;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 5px, 5px, 2px, aqua;
}
#footer{
    background-color: black;
    color: aqua;
    line-height: 1;
    position: fixed;
    margin-bottom: 0px;
    font-size: 22px;
    bottom: 0px;
    width: 100%;
    margin-left: -842.5px;
}